@import url('https://fonts.googleapis.com/css2?family=Salsa&family=Sedgwick+Ave+Display&display=swap');

/*****************************/
/* Add these styles to your global stylesheet or import as needed */

/* General styles */
body {
  font-family: 'Salsa', cursive !important;
  background-color: #FFFDCB; /* Light gray background color */
}

/* Form container styles */
#root{
  max-width: 700px;
  margin: 5% auto;
  padding: 40px;
  background-color: #FFFDCB; /* White background color */
  border: 1px solid #dcdcdc; /* Light gray border */
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
}

/* Form title styles */
h1 {
  text-align: center;
  color: black !important ;
}

/* Form input styles */
Form {
  margin-top: 20px;
}

Form.Label {
  font-weight: bold;
  color: #555; /* Dark gray text color */
}

Form.Control {
  margin-bottom: 15px;
  border: 1px solid #ced4da; /* Light gray border */
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  /* Placeholder styles */
  &::placeholder {
    color: #6c757d; /* Placeholder text color */
  }

  /* Focus styles */
  &:focus {
    border-color: #007bff; /* Bootstrap primary color */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Focus shadow */
  }
}


/* Button styles */
Button {
  background-color: #3498db; 
  color: #FFFDCB; 
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

Button:hover {
  background-color: #2185c5; /* Slightly darker shade on hover */
}

/* DataTable.css */
/* .table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */


.table-container{
  width: 600px;
}

/* Style the table */
.table {
  width: 90%;
}

/* Optional: Add some spacing between cells */
.table th,
.table td {
  padding: 12px;
  text-align: center;
}

/* Optional: Style the table header */
/* .table thead th {
  background-color: #FFFDCB; 
  color:#000;
} */

/* Optional: Style alternating rows */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #FFFDCB; /* Bootstrap light theme color */
}

/* Optional: Add hover effect on rows */
.table-hover tbody tr:hover {
  background-color: #FFFDCB; /* Bootstrap secondary theme color */
}